* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    padding: 50px;
}
#outer-elipse {
    position: relative;
    background-color: red;
    height: 1000px;
    width: 600px;
    border: 15px solid black;
    border-radius: 50%;
    margin: auto;
}
#inner-elipse {
    position: absolute;
    background-color: white;
    height: 930px;
    width: 530px;
    border: 15px solid black;
    border-radius: 50%;
    top: 20px;
    left: 20px;
}
#circle {
    position: absolute;
    background: linear-gradient(to right, black 3%, 
    red 3%, red 12%, black 12%, black 21%, 
    red 21%, red 30%, black 30%, black 39%,
    red 39%, red 48%, black 48%, black 51%,
    white 51%, white 65%, black 65%, black 68%,
    red 68%, red 77%, black 77%, black 80%,
    white 80%
    );
    height: 530px;
    width: 530px;
    border: 15px solid black;
    border-radius: 50%;
    top: 185px;
    left: -15px;
}
.hline {
    position: absolute;
    height: 72px;
    background-color: red;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    top: 214px;
}
#hline1 {
    width: 88px;
    left: 253px;
}
#hline2 {
    width: 117px;
    left: 384px;
}
.char {
    position: absolute;
    font: 130px monospace;
    top: 50px;
    left: 200px;
    height: 400px;
    transform-origin: bottom center;
}
.int {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: end;
    font: 83px monospace;
    font-weight: 900;
    top: 450px;
    left: 220px;
    height: 370px;
    transform-origin: top center;
}
#char1 { transform: rotate(-20deg); }
#char2 { transform: rotate(0deg); }
#char3 { transform: rotate(20deg); }
#char4 { transform: rotate(21deg); }
#char5 { transform: rotate(7deg); }
#char6 { transform: rotate(-7deg); }
#char7 { transform: rotate(-21deg); }