@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    background-color: gray;
}
form {
    display: flex;
    height: 91%;
    flex-direction: column;
    justify-content: space-evenly;
}
input, textarea, button {
    display: block;
    width: 100%;
}
input, button {
    height: 3rem;
}
input, textarea {
    border: 3px solid rgb(231, 231, 231);
    border-radius: 5px;
    margin-top: 7px;
}
textarea {
    height: 7rem;
    resize: none;
}
button {
    background-color: #2f2963;
    border: none;
    border-radius: 6px;
    font-size: 1.3rem;
}
hr {
    background-color: rgb(231, 231, 231);
    height: 2px;
    border: none;
    margin-top: 20px;
}
.text-gray {
    color: gray;
}
.text-white {
    color: white;
}
.text-small {
    font-size: 1rem;
}
.text-large {
    font-size: 2rem;
}
.margin {
    margin: 1rem 0.5rem 0.3rem 0;
}
#container {
    display: flex;
    width: 1000px;
    height: 700px;
    margin: 50px auto;
}
#contact-info {
    flex: 5;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(#494574,#1b183b);
    padding: 35px 30px 20px 30px;
    border-radius: 5px;
}
#contact-details {
    margin-top: 2rem;
}
#social {
    margin-top: auto;
}
#contact-us {
    flex: 9;
    height: 96%;
    align-self: center;
    background-color: white;
    color: rgb(60, 60, 60);
    padding: 35px 60px 20px 50px;
}
