#main-doc {
    display: flex;
}
@media (max-width: 40rem) {
    body {
      padding: 0;
    }
}
header {
    font-size: 2rem;
}
nav {
    border: 2px solid black;
    padding: 20px;
    width: 10rem;
    position: fixed;
}
#navbar {
    position: fixed;
    min-width: 100px;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
  }
a {
    display: block;
    margin-top: 20px;
    font-size: large;
}
#content {
    margin-left: 20rem;
}