div {
    border: 1px black solid;
    background: radial-gradient(red 10%, 
    orange 10% 20%, yellow 20% 30%, 
    green 30% 40%, blue 40% 50%, 
    indigo 50% 60%, violet 60%);
    width: 500px;
    height: 500px;
    border-radius: 50%;
}