* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 1100px;
  min-width: 700px;
}
#elipse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 900px;
  width: 500px;
  box-shadow:
      0 0 0 15px black,
      0 0 0 35px red,
      0 0 0 50px black;
  border-radius: 50%;
  top: 100px;
  left: 100px;
}
#circle {
  position: absolute;
  background: linear-gradient(to right, black 15px, 
      red 15px 60px, black 60px 105px, 
      red 105px 150px, black 150px 195px,
      red 195px 240px, black 240px 255px,
      white 255px 325px, black 325px 340px,
      red 340px 385px, black 385px 400px,
      white 400px);
  height: 520px;
  width: 520px;
  border: 15px solid black;
  border-radius: 50%;
}
.hline {
  position: absolute;
  height: 42px;
  background-color: red;
}
#hline1 {
  width: 90px;
  left: 259px;
  box-shadow: -10px 15px, -10px -15px;
}
#hline2 {
  width: 115px;
  left: 380px;
  box-shadow: 10px 15px, 10px -15px;
}
.char {
  position: absolute;
  font: 130px monospace;
  top: 50px;
  height: 400px;
  transform-origin: bottom center;
}
.int {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font: 83px monospace;
  font-weight: 900;
  top: 450px;
  height: 370px;
  transform-origin: top center;
}
#char1 { transform: rotate(-20deg); }
#char3 { transform: rotate(20deg); }
#char4 { transform: rotate(21deg); }
#char5 { transform: rotate(7deg); }
#char6 { transform: rotate(-7deg); }
#char7 { transform: rotate(-21deg); } 