* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #222222;
  color: white;
}
p {
  margin: 0.3rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
label {
  display: block;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.column {
  flex-direction: column;
}
.inline {
  display: inline;
}
.card {
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  text-align: center;
}
.title {
  text-transform: capitalize;
}
.description {
  text-align: justify;
}
.price {
  color: red;
}
.bookImage {
  width: 200px;
  height: 300px;
  margin-bottom: 10px;
  object-fit: cover;
}
.btn {
  background-color: #444444;
  color: white;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}
.btn:hover {
  background-color: #3a3a3a;
}
.blackText {
  color: black;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #375a7f;
}
.topnav a {
  color: #afbdcc;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 20px;
}
.topnav a:hover {
  color: white;
}
.topnav a.active {
  color: white;
}
#sidebar {
  flex: 1;
  align-self: flex-start;
  margin-left: 20px;
}
#container {
  flex: 10;
}
#search {
  height: 1.6rem;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}
#logo {
  margin: 5px 10px;
  height: 50px;
}
#logoTextOrange {
  font-size: 2rem;
  color: #f39c12;
}
#logoTextGreen {
  font-size: 2rem;
  color: #00bc8c;
}